* {
  transition: all 0.2s ease-in-out;
}
.skillImgSize {
  width: 40%;
}
.skill {
  height: 100px;
}

.skill > div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0;
}

.skill > div:hover {
  box-shadow: 0.1rem 0.1rem 0.5rem white;
  background-color: rgba(255, 255, 255, 1);
}

.education {
  background-color: rgba(255, 255, 255, 0.4);
}

.educationImg {
  width: 4rem;
  margin: auto;
}

.educationConnectLine {
  flex-grow: 1;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
  border-right-color: rgba(255, 255, 255, 0.4);
}

.bgImg1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 0%,
      rgba(251, 251, 251, 1) 100%
    ),
    linear-gradient(0deg, #ffffff, #04adfc);
  /* background-image: linear-gradient(
    to right,
    rgb(53, 13, 63),
    rgb(15, 176, 179)
  ); */
  /* background-image: linear-gradient(
    to right,
    rgb(126, 118, 255, 1),
    rgb(136, 242, 255, 1)
  ); */
}
.bgImg2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 100%,
      rgba(251, 251, 251, 1) 0%
    ),
    linear-gradient(180deg, #ffffff, #04adfc);
  /* background-image: linear-gradient(
    to right,
    rgb(53, 13, 63),
    rgb(15, 176, 179)
  ); */
  /* background-image: linear-gradient(
    to right,
    rgb(126, 118, 255, 1),
    rgb(136, 242, 255, 1)
  ); */
}

.borderRad1 {
  border-radius: 0rem;
}

.cstmWidth {
  width: 100%;
  padding: 0;
}
.cstmHeight1 {
  height: auto;
}

.navLink {
  display: block;
  color: white;
  font-size: 12px;
}
.navLink:hover {
  color: white;
  background-color: black;
}

.introPicCol {
  position: absolute;
  left: 0px;
  top: -20rem;
}
.introTextCol {
  position: absolute;
  top: 15rem;
}

.sideMenuLink {
  background-color: black;
}

/* > sm */
@media (min-width: 576px) {
  .skill {
    height: 120px;
  }
  .skillImgSize {
    width: 75%;
  }
  .cstmWidth {
    width: 100%;
    padding: 0;
  }
  .cstmHeight1 {
    height: auto;
  }
  .borderRad1 {
    border-radius: 0rem;
  }
  .introPicCol {
    position: static;
  }
  .introTextCol {
    position: static;
  }
}

/* > md */
@media (min-width: 768px) {
  .skill {
    height: 150px;
  }
  .skillImgSize {
    width: 80%;
  }
  .navLink {
    font-size: 14px;
  }
  .cstmWidth {
    width: 100%;
    padding: 0 5% 0 5%;
  }

  .cstmHeight1 {
    height: 75vh;
    min-height: 75vh;
  }
  .introPicCol {
    position: static;
  }
  .introTextCol {
    position: static;
  }
  .borderRad1 {
    border-radius: 20rem;
  }
}

/* > lg */
@media (min-width: 992px) {
  .navLink {
    font-size: 14px;
  }
  .cstmWidth {
    width: 100%;
    padding: 0 10% 0 10%;
  }
  .cstmHeight1 {
    height: 75vh;
    min-height: 75vh;
  }
}

/* > xl */
@media (min-width: 1200px) {
  .navLink {
    font-size: 14px;
  }
  .cstmWidth {
    width: 100%;
    padding: 0 15% 0 15%;
  }
  .cstmHeight1 {
    height: 75vh;
    min-height: 75vh;
  }
}
