.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  color: var(--color-1);
  cursor: pointer;
}

.skill-img {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.skill-name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
