:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;

  --color-1: rgb(28, 36, 70);
  --color-2: rgb(229, 255, 0);
  --color-3: rgb(245, 245, 220);
  --color-3-dark: rgb(255, 203, 134);
  --color-4: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.letter-space-1 {
  letter-spacing: 1px;
}

.translate-up-5 {
  transition: all 0.2s ease-in-out;
}

.translate-up-5:hover {
  transform: translateY(-5px);
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-3-dark {
  color: var(--color-3-dark);
}
.color-4 {
  color: var(--color-4);
}

.border-color-2 {
  color: var(--color-2);
}

.border-bottom {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid;
}

.border-bottom:hover {
  border-bottom: 4px solid;
}
